SEMANTIC_SCHOLAR_API_KEY=replace_with_your_api_key
SEMANTIC_SCHOLAR_CACHE_TTL_MS=1800000
SEMANTIC_SCHOLAR_BASE_URL=https://api.semanticscholar.org/graph/v1
SEARCH_THE_ARXIV_BASE_URL=https://searchthearxiv.com/search
